In [3]:
import pandas as pd
import re
from pandas import DataFrame as df

In [4]:
drug_type = pd.read_csv('/home/jwseo/drug_repositioning/pnas_sd01.csv')
drug_type = drug_type.iloc[0:86,:]
drug_type

    DDI type                         General sentence structure list type
0          1  Drug a can cause a decrease in the absorption ...         a
1          2  Drug a can cause an increase in the absorption...         a
2          3  The absorption of Drug b can be decreased when...         b
3          4  The bioavailability of Drug b can be decreased...         b
4          5  The bioavailability of Drug b can be increased...         b
..       ...                                                ...       ...
81        82  Drug a may increase the thrombogenic activitie...         a
82        83  Drug a may increase the ulcerogenic activities...         a
83        84  Drug a may increase the vasoconstricting activ...         a
84        85  Drug a may increase the vasodilatory activitie...         a
85        86  Drug a may increase the vasopressor activities...         a

[86 rows x 3 columns]

In [7]:
int_sentence = pd.read_csv('/home/jwseo/drug_repositioning/pnas_sd02.csv', header=None)
int_sentence

                                                        0
0       DB04571 may increase the photosensitizing acti...
1       DB00855 may increase the photosensitizing acti...
2       DB09536 may increase the photosensitizing acti...
3       DB01600 may increase the photosensitizing acti...
4       DB09000 may increase the photosensitizing acti...
...                                                   ...
192279  The risk of a hypersensitivity reaction to DB0...
192280  The risk of a hypersensitivity reaction to DB0...
192281  The risk of a hypersensitivity reaction to DB0...
192282  The risk of a hypersensitivity reaction to DB0...
192283  The risk of a hypersensitivity reaction to DB0...

[192284 rows x 1 columns]

In [8]:
def spliter(sent) : 
  p = re.compile('DB\d{5}')
  drug_list = p.findall(sent)

  if len(drug_list) == 2 :
    temp = sent.split(drug_list[0])
    temp_1 = temp[1].split(drug_list[1])
    result = [temp[0]]+temp_1

  if len(drug_list) == 3 : 
    result = []
    temp = sent.split(drug_list[0])
    temp_1 = temp[2].split(drug_list[2])  
    result = [temp[0],temp[1]]+temp_1
    del drug_list[1]

  return [drug_list, result]

In [9]:
def parsing(drug_list, result) : 
  for i in range(0,86) : 
    check = 1
    interaction = drug_type.iloc[i,1]
    for j in range(0, len(result)) :
      if result[j] not in interaction : check = 0
    if check == 1 : 
      int_type = drug_type.iloc[i, 0]
      break

  if drug_type.iloc[i,2] == 'a' : new_interaction = [drug_list[0]] + [drug_list[1]] + [int_type]
  if drug_type.iloc[i,2] == 'b' : new_interaction = [drug_list[1]] + [drug_list[0]] + [int_type]

  return new_interaction

In [10]:
new_interaction_list = []
for i in range(0, len(int_sentence)) : 
  sentence = int_sentence.loc[i,0]
  split_out = spliter(sentence)
  output_temp = parsing(split_out[0], split_out[1])
  new_interaction_list.append(output_temp)

new_interaction = df(new_interaction_list)

In [28]:
new_interaction = new_interaction.rename(columns = {0:'Drug_A',1:'Drug_B',2:'Interaction',})
new_interaction

         Drug_A   Drug_B  Interaction
0       DB04571  DB00460           75
1       DB00855  DB00460           75
2       DB09536  DB00460           75
3       DB01600  DB00460           75
4       DB09000  DB00460           75
...         ...      ...          ...
192279  DB00492  DB00437           25
192280  DB09477  DB00437           25
192281  DB00790  DB00437           25
192282  DB00437  DB00415           25
192283  DB00691  DB00437           25

[192284 rows x 3 columns]

In [49]:
except_list = [36, 29, 22, 16, 23, 75] #사용하지 않는 interaction
#interaction count를 dataframe으로 변환
value_temp = new_interaction.value_counts('Interaction').rename_axis('values').reset_index(name='counts')
value_count = df(value_temp, index=None)
#interaction 개수별로 내림차순으로 정렬된 상태로 뽑아냄
type_list = list(value_count.iloc[:,0])
for num in except_list:
    type_list.remove(num) #사용하지 않는 interaction만 제거

In [52]:
#pnas_sd01과 pnas_sd02 새로 만들어줌
for i in range(0, len(new_interaction)) :
    old_ddi = new_interaction.iloc[i,2]
    if old_ddi in type_list : 
        new_ddi = type_list.index(old_ddi)
        new_interaction.iloc[i,2] = new_ddi

In [ ]:
new_drug_type_list = []
for i in range(0, len(drug_type)) :
    old_ddi = drug_type.iloc[i,0] 
    description = drug_type.iloc[i,1]
    if old_ddi in type_list :
        new_drug_type_list.append([description])